body {
	max-width: 800px;
	margin: 0 auto;
	padding-top: 20px;
}

.baecker-pizza {
	min-height: 100px;
}

.cart-price {
	position: absolute;
	left: 50%;
}

li.cart {
	height: 40px;
	line-height: 40px;
}

ul.anzeige li, .fahrer {
	border: 1px solid gray;
	padding: 10px;
	margin-top: 10px;
}

span.status {
	font-weight: bold;
	color: #aa0000;
}

textarea {
	width: 100%;
}

a.addbasket {
	float:right !important;
}
