<!--
<h3> Baecker (DEBUG UPDATE MODE)</h3>
<div ng-controller="UpdateController as updCtrl">
<form name="updateform" ng-submit="updCtrl.updateById();">
<textarea ng-model="updCtrl.updateMsg" cols="50" rows="10"></textarea>
<label for="id">Eintrag: </label><input type="text" name="id" ng-model="updCtrl.id" />
<button type="submit" class="btn btn-default">Abschicken</button>
</form> -->


<h3> Baecker (Alle Anzeigen)</h3>
<div ng-controller="UpdateController as updCtrl">
<form name="updateform" ng-submit="updCtrl.getAll();">
<button type="submit" class="btn btn-default">Abschicken</button>
</form>
<ul><li ng-repeat="myorder in updCtrl.result.allorders">
	My Order: {{myorder.id}}
</li></ul>
	