<h3> Fahrer </h3>
<div class="fahrer" ng-controller="UpdateController as updCtrl" ng-init="updCtrl.getAll();">
	<ul><li ng-repeat="item in updCtrl.result.allorders track by $index">
		
		<div ng-if="updCtrl.isOrderReady(item.order.cart);">
			Lieferung an : <b>{{item.order.address}}</b>
			<div ng-repeat="pizza in item.order.cart" >
				<div class="pizza-item">
					<div class="progress-bar progress-bar-striped active"
					role="progressbar" aria-valuenow="{{pizza.status}}"
					aria-valuemin="0" aria-valuemax="4" style="width: {{pizza.status * 25}}%">
						<span class="status">{{pizza.name}} - {{pizza.status * 25}}%</span>
					</div>
					<span class="pstatus" ng-if="pizza.status==2">Lieferbereit</span>
					<span class="pstatus" ng-if="pizza.status==3">Unterwegs</span>
					<span class="pstatus" ng-if="pizza.status==4">Ausgeliefert</span>
					
				</div>
			</div>
			<button type="submit" ng-disabled="item.order.cart[$index].status>=4" ng-click="updCtrl.upCart(item.order.cart,$index);" class="btn btn-success">Status weiterschalten!</button>
		<button type="submit" 
		ng-disabled="item.order.cart[$index].status<=2"
		ng-click="updCtrl.downCart(item.order.cart,$index);"  class="btn btn-default btn-xs">Status zurückschalten!</button>
		
		<button type="submit" class="btn btn-danger btn-xs" ng-click="updCtrl.archiveItem(item.id);" ng-disabled="item.order.cart[$index].status<4">Bestellung archivieren <sup>*1</sup></button>

		</div>
	</li></ul>
	<div><small><sup>*1</sup> Kann nicht rückgängig gemacht werden.</small></div>
</div>